/*make login button display nicely*/
#login-buttons {
  margin: 18px;
  font-size: 14;
}

/*format list items with spacing*/
.list-group-item {
  height: 55px;
}

/*stretch bins-share accross bottom of screen*/
.bins-share {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px;
}

.bins-share .input-group {
  width: 30%;
}

.bins-share > div {
  margin: 0 10px;
}
